@font-face {
  font-family: 'chatFont';
  src: local('chatFont'),
    url('/fonts/chatFont.woff2') format('woff2'), 
    url('/fonts/chatFont.woff') format('woff'),
    url('/fonts/chatFont.ttf') format('ttf'),
    url('/fonts/chatFont.eot') format('eot');
}

@font-face {
  font-family: 'Pusab';
  src: local('Pusab'),
    url('/fonts/pusab.woff2') format('woff2'), 
    url('/fonts/pusab.woff') format('woff'),
    url('/fonts/pusab.ttf') format('ttf'),
    url('/fonts/pusab.eot') format('eot');
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;

  font-family: chatFont;
}

/* HEADER */

.header {
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.34);

  padding: 10px;

  position: relative;
}

.header .logo {
  width: 800px;
  height: 100px;
  box-shadow: black;

  filter: drop-shadow(0 0 7px rgba(0,0,0,0.5))
}

.logo {
  width: 70%;
  height: 100%;
}

.button {
  width: 100%;
  height: 70px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered p {
  font-family: Pusab;
  font-size: 35px;

  background: -webkit-linear-gradient(#E9970F, #FBD840);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke-width: 2px;


  -webkit-text-stroke-color: black;
}

.headerbtn {
  float: right;
  position: relative;
  color: white;

  height: 70px;

  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
