@font-face {
  font-family: 'Tahoma';
  src: local('Tahoma'),
	   url('/fonts/tahoma.woff2') format('woff2'), 
	   url('/fonts/tahoma.woff') format('woff'),
           url('/fonts/tahoma.ttf') format('ttf'),
	   url('/fonts/tahoma.eot') format('eot');

}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;

  font-family: Tahoma;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
