@font-face {
  font-family: 'chatFont';
  src: local('chatFont'),
    url('/fonts/chatFont.woff2') format('woff2'), 
    url('/fonts/chatFont.woff') format('woff'),
    url('/fonts/chatFont.ttf') format('ttf'),
    url('/fonts/chatFont.eot') format('eot');
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;

  font-family: chatFont;
}
